/* STYLING */
/* Navbar */
#navbar {
  display: block;
}

#navbar #nav-part-1 {
  display: flex;
}

#navbar #nav-part-1 a,
#navbar #nav-part-1 h1 {
  flex: 1;
  display: block;
}

#navbar #nav-part-1 h1 {
  font-size: 1.6rem;
}

#navbar #nav-part-1 #hamburger {
  font-size: 1rem;
}

#navbar #nav-part-1 a {
  text-align: end;
}

#navbar #nav-part-2 ul {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 0rem;
}

#navbar #nav-part-2 ul li {
  padding: 1rem 0;
  text-align: center;
}

#navbar #nav-part-2 ul {
  display: none;
}

#navbar #nav-part-1 h1::before {
  width: 50%;
  top: 20px;
  height: 0.7rem;
}

/* Section 1 */
#sec1 {
  padding: 3rem 1rem;
  height: fit-content;
  background: linear-gradient(to right, #e52d27, #b31217);
}

#sec1 #sec1-content h1 {
  font-size: 1.8rem;
}

/* Section 2 */
#sec2 {
  padding: 0;
  height: fit-content !important;
}

#sec2 #img-sec1 {
  margin-top: 0.5rem;
}

#sec2 #img-sec1,
#sec2 #img-sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sec2 #img-sec1 img,
#sec2 #img-sec2 img {
  width: 300px;
  height: 400px;
  margin-top: 0.5rem;
}

.card-item {
  width: 100%;
}

/* footer */
#footer {
  height: 68vh;
  padding: 1rem 1rem;
}

#footer h1 {
  padding-top: 2rem;
}

#footer .footer-icons {
  margin: 1rem 0;
}
#footer .footer-icons a {
  font-size: 12px;
}

#footer .footer-links a {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
}

#footer p {
  text-align: center;
  margin: 1rem 0;
}

#footer p:last-child {
  padding-bottom: 1rem;
}

/* Collection Gallery */
.collection-container {
  padding: 0;
}
#sec2 .filter-btn {
  display: block;
  margin-bottom: 10px;
}

#gallery-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery-buttons li {
  margin: 1rem 0.5rem 0rem;
}

#sec2 #img-sec1.collection-books {
  display: block;
  padding: 2rem 2rem;
  margin: 0;
  text-align: center;
}
