@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* utility classes */
.container {
  max-width: 100%;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 1.5rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 1.5rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}

.pl-1 {
  padding-left: 1.5rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 1.5rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}

.m-1 {
  margin: 1.5rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-1 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1.5rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: #fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: rgb(230, 227, 227);
}

::placeholder {
  color: grey;
  opacity: 0.4;
}

.form-line {
  background-color: transparent;
  color: #000;
  outline: none;
  font-size: 1.4rem;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 1px;
  width: 50%;
  padding-bottom: 5px;
  display: block;
}

/* STYLING */
/* Navbar */
#navbar {
  display: flex;
  padding: 1rem;
  background-image: linear-gradient(60deg, #29323c 100%, #485563 100%);
  color: #fff;
}

#navbar #nav-part-1,
#navbar #nav-part-2 {
  flex: 1;
}

#navbar #nav-part-2 ul {
  display: flex;
}

#navbar #nav-part-2 ul li {
  flex: 2;
  text-align: center;
}

#navbar #nav-part-2 ul li:last-child {
  flex: 1;
}

#navbar #nav-part-1 a {
  display: none;
}

#navbar #nav-part-1 h1 {
  font-weight: 600;
  font-family: 'Julius Sans One', sans-serif;
}

#navbar a {
  font-size: 1.4rem;
  color: #fff;
}

#navbar #nav-part-2 #nav-collection li {
  padding: 0.5rem 0;
}

#navbar #nav-part-2 #nav-collection li:hover {
  background: #055db4;
  cursor: pointer;
}

#navbar #nav-part-2 #nav-collection li a:hover {
	font-weight: 600;
}

/* Section 1 */
#sec1 {
  padding: 2rem;
  height: fit-content;
  background: linear-gradient(to right, #e52d27, #b31217);
}

.addBookSec1 {
  background: rgb(247, 109, 58) !important;
}

.bookStoreSec1 {
  background: yellow !important;
}

.bookStoreSec1 #sec1-content h1 {
  color: #000 !important;
}

.addBookSec2 {
  height: 80vh !important;
}

.readBookSec1 {
  background: rgb(44, 167, 160) !important;
}

#sec1 #sec1-content h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

/* Section 2 */
#sec2 {
  padding: 2rem;
  height: fit-content !important;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#sec2 h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

#sec2 #img-sec1,
#sec2 #img-sec2 {
  display: flex;
  justify-content: space-evenly;
}

#sec2 #img-sec1 img,
#sec2 #img-sec2 img {
  transition: transform 0.2s;
}

#sec2 #img-sec1 img:hover,
#sec2 #img-sec2 img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* footer */
#footer {
  width: 100%;
  height: 30vh;
  background: #474954;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
}

#footer h1 {
  font-weight: 400;
}

#footer .footer-icons a,
#footer .footer-links a {
  color: #fff;
  margin: 0 1rem;
}

#footer .footer-icons a:hover,
#footer .footer-links a:hover {
  color: rgb(172, 168, 168);
}

/* ADD BOOK DELETE BOOK */
.card-item {
  width: 50%;
  background: #000;
  color: #fff;
  padding: 12px;
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: bold;
  display: flex;
}

.card-item li,
.card-item i {
  flex: 1;
}

.card-item a {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}

/* Collections Page */
.filter-btn {
  float: left;
  width: 100%;
  text-align: center;
}

.filter-btn ul {
  margin: 0;
  padding: 0;
}

.filter-btn ul li {
  display: inline-block;
  background: #29323c;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0px 1px;
  font-size: 1.2rem;
}

.filter-btn ul li:hover {
  background: #424f5e;
}

.filter-btn ul li.active {
  background: #055db4;
}

/* Settings */
#settings {
  height: max-content;
  background: rgb(53, 52, 52);
  color: rgb(212, 209, 209);
}

#settings a {
  color: rgb(219, 215, 215);
}

#settings .container-settings {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

#settings .container-settings h1 {
  line-height: 1.6em;
  border-bottom: 1px solid #fff;
  text-align: center;
}

#settings .container-settings h2 {
  padding: 2rem 0 1rem;
  width: fit-content;
  border-bottom: 1px solid #fff;
}

#settings .container-settings p {
  font-family: sans-serif;
  font-weight: 400;
  padding: 1rem 0;
}
